<div class="footer-links">
  <a href="/about-us">About Us</a>
  <a href="/about-us">Terms and Conditions</a>
  <a href="/about-us">Privacy Policy</a>
  <a href="/about-us">Contact</a>
</div>
<div class="social-links">
  <a href="https://www.facebook.com" target="_blank"> 
    <img src="/assets/images/facebook-logo.svg">
  </a>
  <a href="https://www.twitter.com" target="_blank"> 
    <img src="/assets/images/twitter-logo.svg">
  </a>
  <a href="https://www.instagram.com" target="_blank"> 
    <img src="/assets/images/insta-logo.svg">
  </a>
</div>
<div class="copyright">
  © 2019 All rights reserved
</div>