@import "src/sass/mixins";
@import "src/sass/variables";

:host {
  display: flex;
  height: 100%;
}

.footer-links,
.social-links,
.copyright {
  display: flex;
  align-items: center;
  height: 100%;
}

.footer-links,
.copyright {
  font-family: "Maison Neue Book";
  font-size: px-to-vh(16px);
  color: $darkGrey;
  opacity: 0.4;
  line-height: 21px;
}

.footer-links {
  margin-left: px-to-vw(165px);

  a {
    // have to overwrite native anchor behaviour
    color: $darkGrey;
    text-decoration: none;

    &:not(:first-child) {
      margin-left: px-to-vw(40px);
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

.social-links {
  margin-left: px-to-vw(155px);

  a:not(:first-child) {
    margin-left: px-to-vw(20px);
  }

  mat-icon {
    height: px-to-vh(22px);
    width: px-to-vw(22px);
    vertical-align: middle;
  }
}

.copyright {
  margin-left: px-to-vw(69px);
  margin-right: px-to-vw(260px);
}
