<div class="footer-links">
  <a href="/about-us">About Us</a>
  <a href="/about-us">Terms and Conditions</a>
  <a href="/about-us">Privacy Policy</a>
  <a href="/about-us">Contact</a>
</div>
<div class="social-links">
  <a href="https://www.facebook.com" target="_blank">
    <mat-icon svgIcon="facebook"></mat-icon>
  </a>
  <a href="https://www.twitter.com" target="_blank">
    <mat-icon svgIcon="twitter"></mat-icon>
  </a>
  <a href="https://www.instagram.com" target="_blank">
    <mat-icon svgIcon="insta"></mat-icon>
  </a>
</div>
<div class="copyright">
  © 2019 All rights reserved
</div>
