$vw-viewport: 1440;
$vh-viewport: 900;

@function get-vw($font){
  $vw-context: $vw-viewport * 0.01 * 1px;
  @return $font / $vw-context * 1vw;
  @return $font;
}

@function get-vh($font){
  $vh-context: $vh-viewport * 0.01 * 1px;
  @return $font / $vh-context * 1vh;
  @return $font;
}