@import "~@angular/material/theming";

$darkGrey: #3c3e46;
$midGrey: #84889a;
$brandPurple: #6648cd;
$greyPurple: #d1c8f0;
$white: #ffffff;
$lightGrey: #eeeef2;

$primary: map_merge(
  mat-palette($mat-grey),
  (
    default: $white,
  )
);

$accent: map_merge(
  mat-palette($mat-deep-purple),
  (
    default: $brandPurple,
  )
);

$warn: mat-palette($mat-red);

$theme: mat-light-theme($primary, $accent, $warn);

$assets-path: "/assets";
$fonts-path: "#{$assets-path}/fonts/maisonNeue";
$images-path: "#{$assets-path}/images";
$footerHeight: px-to-vh(104px);
