@import "src/sass/mixins";
@import "src/sass/variables";

.title {
  margin-bottom: px-to-vh(34px);
}

.social-login {
  display: flex;
  margin-bottom: px-to-vh(30px);
}

.login-form {
  display: flex;
  flex-direction: column;

  .label {
    color: $midGrey;
    width: px-to-vw(150px);
    font-family: "Maison Neue Demi";
    font-size: px-to-vh(14px);
    letter-spacing: 0;
    line-height: px-to-vh(19px);
    margin-bottom: px-to-vh(15px);
  }

  .login-button {
    padding: px-to-vh(23px) 0;
    margin-bottom: px-to-vh(20px);

    span {
      font-family: "Maison Neue Demi";
      font-size: px-to-vh(18px);
      letter-spacing: 0;
      text-align: center;
    }
  }

  .sign-up-redirect {
    font-family: "Maison Neue Book";
    font-size: px-to-vh(16px);
    letter-spacing: 0;
    margin-bottom: px-to-vh(26px);

    a {
      font-family: "Maison Neue Demi";
      color: $brandPurple;
      text-decoration: none;
    }
  }
}
