<div class="container flex-column">
  <div class="header flex-row">
    <div class="heading flex-column">
      <h1 class="title">
        Fresh wave of climate strikes takes place around the world
      </h1>
      <div class="sub-title flex-row">
        <div class="source">
          <mat-icon>rss_feed</mat-icon>
          <span>The Guardian</span>
        </div>
        <div class="date">
          <mat-icon>calendar_today</mat-icon>
          <span>Today</span>
        </div>
        <div class="channel">
          <span>Nature</span>
        </div>
      </div>
    </div>
    <div class="controls flex-row">
      <button mat-fab color="primary">
        <mat-icon>chat_bubble</mat-icon>
      </button>
      <button mat-fab color="primary">
        <mat-icon svgIcon="bookmark"></mat-icon>
      </button>
      <button mat-fab color="primary">
        <mat-icon class="mirror">reply</mat-icon>
      </button>
    </div>
  </div>
  <div class="align-center">
    According to the National Oceanic and Atmospheric Administration, Ted,
    Scambos, NSIDClead scentist, puts the potentially record low maximum sea ice
    extent tihs year down to low ice extent in the Pacific and a late drop in
    ice extent in the Barents Sea.
  </div>
  <div class="flex-row">
    <img src="/assets/images/content/iceberg-left.png" />
    <div class="quote-container">
      <div class="quotation-mark">“</div>
      <div class="quote">
        Over the span of the satellite record, Arctic sea ice has been declining
        significantly, while sea ice in the Antarctichas increased very
        slightly.<br /><br />-NOAA
      </div>
    </div>
  </div>
  <div class="flex-row">
    <div class="paragraph-container">
      <div class="sub-heading">
        So what does the new record for the lowest level of winter ice actually
        mean?
      </div>
      <div class="paragraph">
        The Arctic Ocean freezes every winter and much of the sea-ice then thaws
        every summer, and that process will continue whatever happens with
        climate change. Even if the Arctic continues to be one of the
        fastest-warming regions of the world, it will always be plunged into
        bitterly cold polar dark every winter. And year-by-year, for all kinds
        of natural reasons, there’s huge variety of the state of the ice.
      </div>
    </div>
    <img src="/assets/images/content/iceberg-right.png" />
  </div>
  <div class="align-center">
    For a start, it does not automatically follow that a record amount of ice
    will melt this summer. More important for determining the size of the annual
    thaw is the state of the weather as the midnight sun approaches and
    temperatures rise. But over the more than 30 years of satellite records,
    scientists have observed a clear pattern of decline, decade-by-decade.
  </div>
  <a
    class="video-link"
    href="https://youtu.be/HyEYa-u5BRI?t=316"
    target="_blank"
  >
    <img src="/assets/images/content/video.png" />
  </a>
  <now-comments-list></now-comments-list>
</div>
