#login-page {
    background-image: url('../../assets/Illustration.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    background-color: rgb(238, 238, 242);
    width: 100%;
    height: 100%;
}