@import 'src/sass/mixins';
@import 'src/sass/variables';

.password-input-field {
    mat-form-field {
        width: 100%;
    }

    .mat-form-field-wrapper {
        padding-bottom: px-to-vh(10px);
    }

    .mat-form-field-underline {
        display: none;
    }

    .prefix-icon {
        height: px-to-vh(24px);
        width: px-to-vw(23px);
        vertical-align: middle;
        padding-right: px-to-vw(13px);
    }

    .mat-form-field-appearance-fill {
        .mat-form-field-infix {
            border: 0;
            padding: 0;
        }

        .mat-form-field-flex {
            width: 100%;
            background-color: $white;
            border-radius: 4px;
            box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
            padding: px-to-vh(23px) px-to-vw(25px);
        }
    }

    .mat-form-field-label {
        mat-label {
            font-family: "Maison Neue Book";
            color: $midGrey;
        }
    }
}
