<nav class="sub-menu" color="accent" mat-tab-nav-bar>
  <a
    mat-tab-link
    routerLink="/channels/trending"
    routerLinkActive
    #trending="routerLinkActive"
    [active]="trending.isActive"
    >Trending</a
  >
  <a
    mat-tab-link
    routerLink="/channels/foryou"
    routerLinkActive
    #forYou="routerLinkActive"
    [active]="forYou.isActive"
    >For You</a
  >
  <a
    mat-tab-link
    routerLink="/channels/cooking"
    routerLinkActive
    #cooking="routerLinkActive"
    [active]="cooking.isActive"
    >Cooking</a
  >
  <a
    mat-tab-link
    routerLink="/channels/nature"
    routerLinkActive
    #nature="routerLinkActive"
    [active]="nature.isActive"
    >Nature</a
  >
  <a
    mat-tab-link
    routerLink="/channels/science"
    routerLinkActive
    #science="routerLinkActive"
    [active]="science.isActive"
    >Science</a
  >
  <a
    mat-tab-link
    routerLink="/channels/travel"
    routerLinkActive
    #travel="routerLinkActive"
    [active]="travel.isActive"
    >Travel</a
  >
  <a
    mat-tab-link
    routerLink="/channels/climate"
    routerLinkActive
    #climate="routerLinkActive"
    [active]="climate.isActive"
    >Climate</a
  >
  <a
    mat-tab-link
    routerLink="/channels/music"
    routerLinkActive
    #music="routerLinkActive"
    [active]="music.isActive"
    >Music</a
  >
  <a
    mat-tab-link
    routerLink="/channels/people"
    routerLinkActive
    #people="routerLinkActive"
    [active]="people.isActive"
    >People</a
  >
  <mat-divider class="divider" [vertical]="true" [inset]="true"></mat-divider>
  <a
    class="explore-button"
    routerLink="/channels/explore"
    routerLinkActive
    #explore="routerLinkActive"
    mat-tab-link
    [active]="explore.isActive"
    >Explore</a
  >
</nav>
<router-outlet></router-outlet>
